.title-dialog{
    text-align: center;
    padding: 20px 0;
    margin-bottom: 6%;
    font-size: 26px;

    background: #bd770f;
    color: #fbead0;
}

.dialog-wrapers{
    margin: 5%;
}
