<div class="content-dialog">

    <div class="title-dialog">
        <span>{{dialogTitle}}</span>
    </div>

    <div class="dialog-wrapers">
        <mat-dialog-content>
            <code *ngIf="showSimpleJson">
                <!-- Formato 1: simple json -->
                <pre>{{ teams | json }}</pre>
            </code>
            
            <code *ngIf="showBeautyJson">
                <!-- Formato 2: beauty json -->
                <div id="beauty-json-id"></div>
            </code>

            <code *ngIf="showJsonAsObject">
                <!-- Formato 3: json displayed as object -->
                <div [innerHtml]="html"></div>
            </code>
        </mat-dialog-content>
    </div>
    
</div>