.title-dialog{
    text-align: center;
    background: #eac503;
    padding: 20px 0;
    margin-bottom: 6%;
    font-size: 26px;
}

.update-team-wrapers{
    margin: 5%;
}

.form-field{
    width: 100%;
}

.buttons{
    text-align: center;
    
    button{
        color: #a23131;
    }
}

.flag-icon{
    position: relative;
    display: inline;
    top: 10px;
  }

.country{
    display: inline;
    padding-left: 10px;
  }