.navbar{
    height: 81px;
    // background: #f56767;
    line-height: 72px;
    text-align: center;
    padding: 10px;
    border-radius: 50px;

    background: #eac503;
  }
  
  .wraper-title-page{
    // background: #d26565;
    background: #0d8389;
  }
  
  .title-page{
    text-align: center; 
    // background: #ffffff;
    width: 275px;
    margin: auto;
    // color: #f56767;

    color: #a23131;
    background: #fed81a;
  }
  
  .menu-btn {
    // background-color: #ba78f1;
    // margin: 0 20px;
    background-color: #f9db27;
    margin: 0 20px;
  }
  
  .menu-btn-text{
    // color: white;
    color: #a23131;
  }


  .reset-btn{
    background-color: #a23131;
    color: #f9db27;
  }


  @media only screen and (max-width: 480px) {

    .menu-btn {
      margin: 0 1%;
      padding: 0 1%;
    }

  }