
<div class="home-content">
  <mat-tab-group class="tab-group">
    
    <mat-tab label="Development"> 
      <div class="inner-text"> 
        <p> This app was developed only for improvement purpose. Based on Angular 9, Angular Material and their features. </p>

        <p> There is no server side. This app uses local storage to manage data.</p>

        <p> In this scenario, style and busines logic are not the focus, but the general knowledge of Angular.</p>
      </div> 
    </mat-tab>
    
    <mat-tab label="Functionalities"> 
        <div class="inner-text"> 

          <mat-list>
            <div mat-subheader>This app has these functionallities:</div>
            <mat-list-item>
              <mat-icon mat-list-icon>done_outline</mat-icon>
              <div mat-line>Report of teams with basic details</div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>done_outline</mat-icon>
              <div mat-line>Add / Delete / Update team</div>
            </mat-list-item>            
            <mat-list-item>
              <mat-icon mat-list-icon>done_outline</mat-icon>
              <div mat-line>Update the division information (with friendly drag and drop component of Angular Material)</div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>done_outline</mat-icon>
              <div mat-line>Reset data and get the first data after your changes (by static json)</div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>done_outline</mat-icon>
              <div mat-line>Bonus: Game Hash (not related to team management, but it was my first exercise)</div>
            </mat-list-item>
          </mat-list>

        </div> 
    </mat-tab>    
  </mat-tab-group>


    <div class="enjoy">
      <h3>Please Enjoy</h3>
      <mat-icon mat-list-icon>mood</mat-icon>
    </div>
</div>