<div class="json-types-wrapers">
    <mat-list class="list-wraper" role="list">
        <mat-list-item role="listitem" style="cursor: pointer;" class="json-home-wrap-list-item" (click)="openJson(1)">
            <span>Simple Json Format</span>
        </mat-list-item>
        <mat-list-item role="listitem" style="cursor: pointer;" class="json-home-wrap-list-item" (click)="openJson(2)">
            Beauty Json
        </mat-list-item>
        <mat-list-item role="listitem" style="cursor: pointer;" class="json-home-wrap-list-item" (click)="openJson(3)">
            Object Format
        </mat-list-item>
    </mat-list>
</div>